body {
  font-family: "Courier New", Courier, monospace;
  background-image: url("./bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.head {
  color: white;
  backdrop-filter: blur(20px);
  background-color: rgba(95, 95, 95, 0.319);
  text-align: center;
  margin: 2em 1em 1em 1em;
  padding: 0.1em 1em 0.1em 1em;
  border-radius: 8px;
}
.maincard {
  color: white;

  background-color: rgba(95, 95, 95, 0.319);
  backdrop-filter: blur(20px);
  padding: 6em 1em 0.2em 1em;
  margin: 2em 1em 1em 1em;
  border-radius: 8px;
}
.infocard {
  color: white;

  background-color: rgba(95, 95, 95, 0.319);
  backdrop-filter: blur(20px);
  padding: 1em 1em 1em 1em;
  margin: 2em 1em 1em 1em;
  border-radius: 8px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 93.3%;
  margin: auto;
}

@media only screen and (min-width: 800px) {
  .wrap {
    margin-top: -6.01em;
    width: 45%;
    margin-left: auto;
    margin-right: 1.5em;
  }
  .head {
    width: 45%;
    margin-right: auto;
    margin-left: 1.5em;
    // margin-inline: 1.5em;
    padding-block: 1em;
  }

  .input-group {
    input {
      border-radius: 8px 0px 0 8px !important;
      font-size: 2em;
      height: 2.51em;
    }
    button {
      border-radius: 0px 8px 8px 0px !important;
      font-size: 1.5em;
    }
  }
  .maincard {
    margin-inline: 1.5em;
    padding: 7em 2em 1em 2em;
  }
  .infocard {
    margin-inline: 1.5em;
    padding: em 2em 1em 2em;
  }
}
